In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import csv

In [2]:
csv_path = "../Project_1_AirPollution_vs_GDPperCapita/Original CO2 emissions dataset.csv"
CO2data_df = pd.read_csv(csv_path, encoding = 'unicode_escape')
CO2data_df.head()

FileNotFoundError: [Errno 2] File b'../Project_1_AirPollution_vs_GDPperCapita/Original CO2 emissions dataset.csv' does not exist: b'../Project_1_AirPollution_vs_GDPperCapita/Original CO2 emissions dataset.csv'

In [ ]:
CO2data_df_headers=list(CO2data_df.columns.values)
CO2data_df_years = CO2data_df_headers[-59:]
CO2data_df_years_drop = CO2data_df_years[1:51]
CO2data_df_1= CO2data_df.drop(CO2data_df_years_drop,axis=1)
CO2data_df_1.head()

In [ ]:
CO2_pct_change = CO2data_df_1.pct_change(axis='columns')

In [12]:
csv_path = "../Project_1_AirPollution_vs_GDPperCapita/GDPbyCountry.csv"
GDPbyCountry_df = pd.read_csv(csv_path, encoding = 'unicode_escape')
GDPbyCountry_df.head()

,Country,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,15.325,17.89,20.293,20.17,20.616,20.057,19.428,20.235,19.585
1,Albania,11.938,12.896,12.323,12.804,13.219,11.364,11.868,13.055,15.202
2,Algeria,161.207,200.251,209.016,209.755,213.81,165.979,160.13,167.555,180.441
3,Angola,83.799,111.79,128.053,136.71,145.712,116.194,101.124,122.124,107.316
4,Antigua and Barbuda,1.152,1.142,1.211,1.193,1.276,1.359,1.465,1.516,1.626

In [13]:
GDPbyCountry_df_headers=list(GDPbyCountry_df.columns.values)
GDPbyCountry_df_years_drop_2018 = list([GDPbyCountry_df_headers[-1]])
GDPbyCountry_df_1= GDPbyCountry_df.drop(GDPbyCountry_df_years_drop_2018,axis=1)
GDPbyCountry_df_1.head()

,Country,2010,2011,2012,2013,2014,2015,2016,2017
0,Afghanistan,15.325,17.89,20.293,20.17,20.616,20.057,19.428,20.235
1,Albania,11.938,12.896,12.323,12.804,13.219,11.364,11.868,13.055
2,Algeria,161.207,200.251,209.016,209.755,213.81,165.979,160.13,167.555
3,Angola,83.799,111.79,128.053,136.71,145.712,116.194,101.124,122.124
4,Antigua and Barbuda,1.152,1.142,1.211,1.193,1.276,1.359,1.465,1.516

In [14]:
GDPCO2_df = pd.merge(CO2data_df_1, GDPbyCountry_df_1, on="Country")
GDPCO2_df.head()

,Country,2010_x,2011_x,2012_x,2013_x,2014_x,2015_x,2016_x,2017_x,2010_y,2011_y,2012_y,2013_y,2014_y,2015_y,2016_y,2017_y
0,Afghanistan,8.45220,12.22600,10.74210,10.00040,9.78920,10.10740,12.2579,13.0147,15.325,17.89,20.293,20.17,20.616,20.057,19.428,20.235
1,Albania,4.59470,5.23590,4.90610,5.06000,5.71220,5.94770,6.2729,6.3792,11.938,12.896,12.323,12.804,13.219,11.364,11.868,13.055
2,Algeria,117.81410,119.80690,128.11000,132.43460,143.17710,150.59250,150.3780,150.5514,161.207,200.251,209.016,209.755,213.81,165.979,160.13,167.555
3,Angola,28.86450,30.14210,33.18580,32.37310,34.45760,34.76110,35.3510,35.3899,83.799,111.79,128.053,136.71,145.712,116.194,101.124,122.124
4,Antigua and Barbuda,0.52395,0.51296,0.52395,0.52395,0.53128,0.55463,0.5654,0.5653,1.152,1.142,1.211,1.193,1.276,1.359,1.465,1.516

In [15]:
GDPCO2_df = GDPCO2_df.rename(columns={"2010_x": "2010_CO2_Emissions", "2011_x": "2011_CO2_Emissions", "2012_x": "2012_CO2_Emissions",
                                      "2013_x": "2013_CO2_Emissions", "2014_x": "2014_CO2_Emissions", "2015_x": "2015_CO2_Emissions", "2016_x": "2016_CO2_Emissions", "2017_x": "2017_CO2_Emissions"})

GDPCO2_df = GDPCO2_df.rename(columns={"2010_y": "2010_GDP", "2011_y": "2011_GDP", "2012_y": "2012_GDP",
                                      "2013_y": "2013_GDP", "2014_y": "2014_GDP", "2015_y": "2015_GDP", "2016_y": "2016_GDP", "2017_y": "2017_GDP"})

GDPCO2_df.head()

,Country,2010_CO2_Emissions,2011_CO2_Emissions,2012_CO2_Emissions,2013_CO2_Emissions,2014_CO2_Emissions,2015_CO2_Emissions,2016_CO2_Emissions,2017_CO2_Emissions,2010_GDP,2011_GDP,2012_GDP,2013_GDP,2014_GDP,2015_GDP,2016_GDP,2017_GDP
0,Afghanistan,8.45220,12.22600,10.74210,10.00040,9.78920,10.10740,12.2579,13.0147,15.325,17.89,20.293,20.17,20.616,20.057,19.428,20.235
1,Albania,4.59470,5.23590,4.90610,5.06000,5.71220,5.94770,6.2729,6.3792,11.938,12.896,12.323,12.804,13.219,11.364,11.868,13.055
2,Algeria,117.81410,119.80690,128.11000,132.43460,143.17710,150.59250,150.3780,150.5514,161.207,200.251,209.016,209.755,213.81,165.979,160.13,167.555
3,Angola,28.86450,30.14210,33.18580,32.37310,34.45760,34.76110,35.3510,35.3899,83.799,111.79,128.053,136.71,145.712,116.194,101.124,122.124
4,Antigua and Barbuda,0.52395,0.51296,0.52395,0.52395,0.53128,0.55463,0.5654,0.5653,1.152,1.142,1.211,1.193,1.276,1.359,1.465,1.516

In [16]:
GDPCO2_df.to_csv('GDP CO2 Emissions.csv', sep=',' , encoding= 'utf-8', index=False)